.App {
  text-align: left;
  margin: 1rem;
}
.search-bar{
  float: left;
}
.search-button{
  margin-left: 1rem;
}

.board, .saved-board{
  margin-top: 1rem;
  min-height: 25rem;
  max-height: 25rem;
  border: 1px solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.board > .container > .row{
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E5EDF5;
  border: 1px solid #C9C1D5;
}
.board > .container .row{
  margin-bottom: 0.75rem;
}

.container > .saved-board > .row{
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E5EDF5;
  border: 1px solid #C9C1D5;
}
.container > .saved-board .row{
  margin-bottom: 0.75rem;
}